
#Student Name: UMMA SALMA MIM
#Student ID: 2*****
#Course Code: CSE110
#Theory Section No: **
#Assignment No-01
#Topic: Variables, Data types & Opeartors

#Task-1
uses of print function

In [5]:
#print function
name= "John"
print("Your name is",name)
print("Your name is {}".format(name))
print(f"Your name is {name}")

Your name is John
Your name is John
Your name is John

#Task-2
print Hello World

In [6]:
print("hello world")

hello world

#Task-3
*Calculate 54+56\
output: 110*

In [7]:
print( 54 + 56)

110

#Task-4
*season=Fall and year=2022\
So, print the values of the variables*

In [8]:
season= "Fall"
year= 2022
print(season)
print(year)

Fall
2022

#Task 4
Take a name as input from user and print

In [9]:
user_name = (input("Sir, please enter your name: "))
print("Your name is {}".format(user_name))

Sir, please enter your name: Umma salma mim
Your name is Umma salma mim

#Task 5
*Take two number as input from user and multiply them*

In [10]:
M= int(input("Sir, please enter number1: "))
N= int(input("Sir,please enter number2: "))
result= M**N
print("{}^{}: {}".format(M,N,result))

Sir, please enter number1: 2
Sir,please enter number2: 2
2^2: 4

#Task 6

In [11]:
weight= int(input("Sir,please enter the total weight of the shipment: "))
maximum_load=(weight//4)*4                                          #weight//4 1 ta koner jonno tahole 4 ta koner jonno (weight//4)*4
print(maximum_load)

Sir,please enter the total weight of the shipment: 34
32

#Task 7
A,B,C,D are variables.Now, solve the equation : A^C+B*A-D/3

In [12]:
A=  int(input("Sir,please enter an interger number :"))
B=  int(input("Sir,please enter an interger number:"))
C=  int(input("Sir,please enter an interger number:"))
D=  float(input("Sir,please enter a float number:"))

result= int(A**C+ (B*A-D/3))
print(result)

Sir,please enter an interger number :23
Sir,please enter an interger number:34
Sir,please enter an interger number:2
Sir,please enter a float number:2
1310

#Task 8

In [13]:
number_chocolates= int(input("The number of chocolates :"))
result1= number_chocolates//3
result2= number_chocolates%3
print (f"Each friend will receive {result1} chocolates")
print (f"The number of remaining chocolates is {result2}")

The number of chocolates :12
Each friend will receive 4 chocolates
The number of remaining chocolates is 0

#Optional (9 - 11) [Ungraded]

In [14]:
num="4"
num2="4"
sum =num+num2
print(sum)

44

In [15]:
name="Saiful"
print(name[0])

S

#task 9

In [16]:
M= input()
N= input()
sum=N+M
print(sum)

12
23
2312

#task 10

In [17]:
user = input("Sir,please enter your line: ")
print(user[0])

Sir,please enter your line: 23
2

#task 11

In [18]:
number= int(input("Sir,please ener an integer number: "))
if number%2==0 :
    print(True)
else:
  print(False)

Sir,please ener an integer number: 23
False